<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Nganluong>
            <version>0.1.0</version>
        </TTS_Nganluong>
    </modules>
    <frontend>
        <routers>
            <nganluong>
                <use>standard</use>
                <args>
                    <module>TTS_Nganluong</module>
                    <frontName>nganluong</frontName>
                </args>
            </nganluong>
        </routers>
        <layout>
            <updates>
                <nganluong>
                    <file>nganluong.xml</file>
                </nganluong>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<nganluong>
				<use>admin</use>
				<args>
					<module>TTS_Nganluong</module>
					<frontName>nganluong</frontName>
				</args>
			</nganluong>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<TTS_Nganluong>
							<title>Nganluong Module</title>
							<sort_order>10</sort_order>
						</TTS_Nganluong>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<nganluong>
					<file>nganluong.xml</file>
				</nganluong>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <nganluong>
                <class>TTS_Nganluong_Model</class>
                <resourceModel>nganluong_mysql4</resourceModel>
            </nganluong>
            <nganluong_mysql4>
                <class>TTS_Nganluong_Model_Mysql4</class>
                <entities>
                    <nganluong>
                        <table>nganluong</table>
                    </nganluong>
                </entities>
            </nganluong_mysql4>
        </models>
        <resources>
            <nganluong_setup>
                <setup>
                    <module>TTS_Nganluong</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nganluong_setup>
            <nganluong_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nganluong_write>
            <nganluong_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nganluong_read>
        </resources>
        <blocks>
            <nganluong>
                <class>TTS_Nganluong_Block</class>
            </nganluong>
        </blocks>
        <helpers>
            <nganluong>
                <class>TTS_Nganluong_Helper</class>
            </nganluong>
        </helpers>
    </global>
	 <default>
        <payment>    
	<nganluong>
                <active>1</active>
                <model>nganluong/Nganluong</model>
                <order_status>pending</order_status>
                <title>Thanh toán trực tuyến an toàn qua NgânLượng.vn</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </nganluong>
         

         </payment>
    </default>
</config>