<?xml version="1.0"?>
<!--
/**
 * 

 * @package    Uni_Upload


 */
 -->
<config>
    <modules>
        <Tools_Upload>
            <version>0.3.0</version>
        </Tools_Upload>
    </modules>
    <frontend>
        <routers>
            <upload>
                <use>standard</use>
                <args>
                    <module>Tools_Upload</module>
                    <frontName>upload</frontName>
                </args>
            </upload>
        </routers>
        <layout>
            <updates>
                <upload>
                    <file>upload.xml</file>
                </upload>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tools_Upload>
                    <files>
                        <default>Tools_Upload.csv</default>
                    </files>
                </Tools_Upload>
            </modules>
        </translate>
    </frontend>
     
    <admin>
        <routers>
            <upload>
                <use>admin</use>
                <args>
                    <module>Tools_Upload</module>
                    <frontName>upload</frontName>
                </args>
            </upload>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <upload>
                    <file>upload.xml</file>
                </upload>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <upload>
                <class>Tools_Upload_Model</class>
                <resourceModel>upload_mysql4</resourceModel>
            </upload>
            <upload_mysql4>
                <class>Tools_Upload_Model_Mysql4</class>
                <entities>
                    <upload>
                        <table>tools_upload</table>
                    </upload>
                    <uploadgroup>
                        <table>tools_uploadgroup</table>
                    </uploadgroup>
                </entities>
            </upload_mysql4>
        </models>
        <blocks>
            <upload>
                <class>Tools_Upload_Block</class>
            </upload>            
        </blocks>
        <helpers>
            <upload>
                <class>Tools_Upload_Helper</class>
            </upload>
        </helpers>
        <resources>
            <upload_setup>
                <setup>
                    <module>Tools_Upload</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upload_setup>
            <upload_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upload_write>
            <upload_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upload_read>
        </resources>
        <cache>
            <types>
                <tools_upload translate="label,description" module="upload">
                    <label>Tools Upload Cache</label>
                    <description>Cache Upload Block....</description>
                    <tags>tools_upload</tags>
                </tools_upload>
            </types>
        </cache>
    </global>
    <default>
        <upload>
            <upload>
                <upload_time_delay>3000</upload_time_delay>
		<upload_autoplay>1</upload_autoplay>
            </upload>
        </upload>
    </default>
</config>